@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    font-family: "Thasadith", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem; 
}

h3 {
    font-family: "Madimi One", sans-serif;
    font-size: 2.5rem;
    color: rgb(70, 16, 120);
}