@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Thasadith:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    font-family: "Thasadith", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #6D483F;

}

#wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background-color: #c7ebea;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 5rem;
    border-radius: 10%;
}

h3 {
    font-family: "Madimi One", sans-serif;
    font-size: 2.5rem;
    color: #b26224;
}

button {
    padding: 0.7rem 1.7rem;
    border-radius: 10px;
    border: 1px solid rgb(211, 206, 206);
    font-size: 1rem;
    cursor: pointer;

    &:hover {
        background-color: #cfd2d6;
    }
}

input {
    border: 1px solid rgb(211, 206, 206);
    margin-bottom: 2rem;
    height: 3rem;
    border-radius: 10px;
    text-align: center;
    font-size: 1rem;
}